@charset "UTF-8";

body{
    background-color: #39384F;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #D3AF37;
}


.heading{
    display: inline-block;
    position: relative;
    font-size: 1.6em;
    font-family: sans-serif;
    font-weight: lighter;
    color: #D3AF37;
    text-decoration: overline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-right: auto;
    padding-left: 13vw;
    padding-right: auto;
}



#firstname{
    display: block;
    position: relative;
    margin-top: 3vh;
    margin-bottom: auto;
    margin-left: 3vw;
    margin-right: auto;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: .125em;
    font-size: 7em;
    color: #D3AF37;
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vw;
    padding-right: 0vw;
    animation: firstname 2s ease-in;
}
@keyframes firstname {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(8px);
    }

}

#lastname{
    display: block;
    position: relative;
    margin-top: auto;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: 4vw;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: .125em;
    font-size: 7em;
    color: #D3AF37;
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vw;
    padding-right: 0vw;
    writing-mode: vertical-rl;
    animation: lastname 2s ease-in;
}
@keyframes lastname {
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(8px);
    }

}



img{
    display: block;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left:33%;
    bottom: 0%;
    width: 35%;
    height: 90%;
}
