@charset "UTF-8";

body{
    position: relative;
    background-image: url("img/spiral.gif");
}

.heading h1{

text-align: center;
color: yellow;
font-size: 200px;
bottom: 50px;
}
a:visited {
 text-decoration: none;
color: yellow;
}
